<header class="site__header container affix" data-spy="affix" data-offset-top="100">
    <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header visible-xs">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h2>Paradise</h2>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="hidden-xs" id="logo">
                    <a href="/home">
                        <img src="./../assets/images/logo.png" alt="">
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li [highlight-link]="color"><a routerLink="home" routerLinkActive="active">Home</a></li>
                    <li [highlight-link]="color"><a routerLink="menu" routerLinkActive="active">Menu</a></li>
                    <li [highlight-link]="color"><a routerLink="contacts" routerLinkActive="active">Contacts</a></li>
                    <li [highlight-link]="color"><a routerLink="about" routerLinkActive="active">About</a></li>
                    <li [highlight-link]="color"><a routerLink="gallery" routerLinkActive="active">Gallery</a></li>
                    <user-header></user-header>

                    <li style="display:none;">
                        <a href="/home"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>