<ul class="nav navbar-nav navbar-right">
    <li [myHighlight]="color" *ngIf="!isLoggedIn"><a routerLink="login">Login</a></li>
    <li [myHighlight]="color" *ngIf="!isLoggedIn"><a routerLink="register">Register</a></li>

    <li [myHighlight]="color" *ngIf="isLoggedIn"><a routerLink="cart">Cart</a></li>
    <li [myHighlight]="color" *ngIf="isLoggedIn"><a routerLink="orders">Orders</a></li>
    <li [myHighlight]="color" *ngIf="isLoggedIn"><a routerLink="profile">Profile</a></li>
    <li [myHighlight]="color" *ngIf="isLoggedIn"><a class="logout" (click)="logout()">Logout</a></li>
</ul>