li {
    display: inline-block;
}

li a {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: white;
    font-weight: bold;
}

li a:hover,
.active>a {
    color: black;
    text-shadow: none;
}

li a.active {
    color: black;
    text-shadow: none;
    background-color: bisque;
}

.logout {
    cursor: pointer;
}