<ul class="nav navbar-nav navbar-right">
    <li [highlight-link]="color" *ngIf="!isLoggedIn"><a routerLink="login" routerLinkActive="active">Login</a></li>
    <li [highlight-link]="color" *ngIf="!isLoggedIn"><a routerLink="register" routerLinkActive="active">Register</a></li>

    <li [highlight-link]="color" *ngIf="isLoggedIn"><a routerLink="cart" routerLinkActive="active">Cart</a></li>
    <li [highlight-link]="color" *ngIf="isLoggedIn"><a routerLink="orders" routerLinkActive="active">Orders</a></li>
    <li [highlight-link]="color" *ngIf="isLoggedIn"><a routerLink="profile" routerLinkActive="active">Profile</a></li>
    <li [highlight-link]="color" *ngIf="isLoggedIn"><a class="logout" (click)="logout()" routerLinkActive="active">Logout</a></li>
</ul>