<!--<div class="container-fluid">
    <form [formGroup]="userToRegister" #registrationForm="ngForm" class="register-form" (ngSubmit)="register(); registrationForm.reset()">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4" [ngClass]="{'has-error':!userToRegister.controls['username'].valid}">
                <label for="username">Username</label>
                <input name="username" class="form-control" type="text" formControlName="username">
                <span class="text-danger" *ngIf="!userToRegister.controls['username'].valid && userToRegister.controls['username'].touched">Username must be between 5 and 15 symbols.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4" [ngClass]="{'has-error':!userToRegister.controls['firstName'].valid}">
                <label for="firstName">First Name</label>
                <input name="firstName" class="form-control" type="text" formControlName="firstName">
                <span class="text-danger" *ngIf="!userToRegister.controls['firstName'].valid && userToRegister.controls['firstName'].touched">First name must be between 5 and 15 symbols.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4" [ngClass]="{'has-error':!userToRegister.controls['lastName'].valid}">
                <label for="lastName">Last Name</label>
                <input name="lastName" class="form-control" type="text" formControlName="lastName">
                <span class="text-danger" *ngIf="!userToRegister.controls['lastName'].valid && userToRegister.controls['lastName'].touched">Username must be between 5 and 15 symbols.</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-4 col-lg-4" [ngClass]="{'has-error':!userToRegister.controls['email'].valid}">
                <label for="email ">Email</label>
                <input name="email " class="form-control " type="email " formControlName="email">
                <span class="text-danger" *ngIf="!userToRegister.controls['email'].valid && userToRegister.controls['email'].touched">Please eneter valid email</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-4 col-lg-4 " [ngClass]="{'has-error':!userToRegister.controls['password'].valid}">
                <label for="password ">Password</label>
                <input name="password " class="form-control " type="password" formControlName="password">
                <span class="text-danger" *ngIf="!userToRegister.controls['password'].valid && userToRegister.controls['password'].touched">Password must be at least 4 symbols</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-4 col-lg-4 " [ngClass]="{'has-error':!userToRegister.controls['confirmedPassword'].valid}">
                <label for="confirmed-password ">Repeat password</label>
                <input name="confirmedPassword " class="form-control " type="password" formControlName="confirmedPassword">
                <span class="text-danger" *ngIf="!userToRegister.controls['confirmedPassword'].valid && userToRegister.controls['confirmedPassword'].touched">Passwords do not match</span>
            </div>
        </div>
        <hr>
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 ">
                <button class="btn btn-default regbutton" [disabled]="!userToRegister.valid">Register</button>
            </div>
        </div>
    </form>
    <simple-notifications [options]="options "></simple-notifications>
</div>
-->


<div class="container-fluid container">
    <div class="col-sm-5 col-sm-offset-4">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Sign up now</h3>
                    <p>Fill in the form below to get instant access:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form [formGroup]="userToRegister" #registrationForm="ngForm" class="register-form" (ngSubmit)="register(); registrationForm.reset()">
                    <div class="form-group">
                        <input type="text" name="form-user-name" placeholder="Username..." class="form-username-name form-control" id="form-username-name" formControlName="username">
                        <span class="text-danger" *ngIf="!userToRegister.controls['username'].valid && userToRegister.controls['username'].touched">Username must be between 5 and 15 symbols.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" formControlName="firstName">
                        <span class="text-danger" *ngIf="!userToRegister.controls['firstName'].valid && userToRegister.controls['firstName'].touched">First name must be between 5 and 15 symbols.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" formControlName="lastName">
                        <span class="text-danger" *ngIf="!userToRegister.controls['lastName'].valid && userToRegister.controls['lastName'].touched">Last name must be between 5 and 15 symbols.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" formControlName="email">
                        <span class="text-danger" *ngIf="!userToRegister.controls['email'].valid && userToRegister.controls['email'].touched">Please enter valid email</span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" formControlName="password">
                        <span class="text-danger" *ngIf="!userToRegister.controls['password'].valid && userToRegister.controls['password'].touched">Password must be at least 4 symbols</span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="form-confirm-password" placeholder="Confirm password..." class="form-confirm-password form-control" id="form-confirm-password" formControlName="confirmedPassword">
                        <span class="text-danger" *ngIf="!userToRegister.controls['confirmedPassword'].valid && userToRegister.controls['confirmedPassword'].touched">Password must be at least 4 symbols</span>
                    </div>
                    <button type="submit" class="btn btn-default regbutton">Sign me up!</button>
                </form>
                <simple-notifications [options]="options "></simple-notifications>
            </div>
        </div>

        <div class="social-login">
            <h3>...or login with:</h3>
            <div class="social-login-buttons">
                <a class="btn btn-link-2 btn-link-1-facebook" href="#">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-link-2 btn-link-1-twitter" href="#">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a class="btn btn-link-2 btn-link-1-google-plus" href="#">
                    <i class="fa fa-google-plus"></i> Google Plus
                </a>
            </div>
        </div>

    </div>
</div>