<div id="header">
    <div class="icon-wrapper"> <i class="fa fa-users"></i> </div>
    <h2 class="section-title text-center">Who are we</h2>
    <hr>
    <p class="lead main text-center context">{{info.detailedDescription}}</p>
</div>
<!-- /#header -->



<div id="story" class="light-wrapper">
    <div class="container inner">
        <h2 class="section-title text-center">Delivery</h2>
        <p class="lead main text-center">{{info.delivery.description}}</p>
        <div class="row text-center story">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-money"></i> </div>
                    <h3>Cost of Delivery</h3>
                    <p>{{info.delivery.cost}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa  fa-clock-o"></i> </div>
                    <h3>Delivery time</h3>
                    <p>{{info.delivery.time}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-shopping-bag "></i> </div>
                    <h3>Get yourself</h3>
                    <p>{{info.delivery.noDeliveryOrder}}</p>
                </div>
            </div>
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div>
<!-- #story -->

<div id="facts" class="parallax parallax2 facts">
    <div class="container inner">
        <div class="row text-center services-3">
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-pie-chart"></i> </div>
                    <h4 style="color: black;">{{info.statistics.pizzasEaten}}</h4>
                    <p>Pizzas Eaten</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-clock-o"></i> </div>
                    <h4 style="color: black;">{{info.statistics.bestTime}}</h4>
                    <p>Best Time</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4 style="color: black;">{{info.statistics.mealsDelivered}}</h4>
                    <p>Orders Delivered</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-users"></i> </div>
                    <h4 style="color: black;">{{info.statistics.customersCount}}</h4>
                    <p>Customers Worldwide</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- #facts -->