<div id="reservation" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">Order now</h2>
        <p class="lead main text-center">Order you favourite food &amp; enjoy</p>
        <div class="row">
            <!-- col-md-6 -->
            <div class="col-md-4 col-md-offset-1">
                <h3><i class="fa fa-clock-o fa-fw"></i>Hours</h3>
                <h4>Breakfast</h4>
                <p>Mon to Fri: 7:30 AM - 11:30 AM<br>Sat &amp; Sun: 8:00 AM - 9:00 AM</p>
                <h4>Lunch</h4>
                <p>Mon to Fri: 12:00 PM - 5:00 PM</p>
                <h4>Dinner</h4>
                <p>Mon to Sat: 6:00 PM - 1:00 AM<br>Sun: 5:30 PM - 12:00 AM</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h3><i class="fa fa-map-marker fa-fw"></i>Directions</h3>
                <p>{{contacts.address}}</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h3><i class="fa fa-mobile fa-fw"></i>Contacts</h3>
                <p>Email: <a>{{contacts.email}}</a></p>
                <p>Phone: {{contacts.phone}}</p>
            </div>
            <!-- col-md-6 -->
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div>
<!-- #reservation -->