<div class="container main-container">
    <h2 class="section-title text-center">Orders</h2>
    <p class="lead main text-center"></p>
    <div id="food-menu " class="light-wrapper ">
        <section class="ss-style-top "></section>
        <div class="wrapper">
            <div class="orders">
                <div *ngIf="haveOrders" class="order-box">
                    <div *ngIf="haveActiveOrders">
                        <span class="label label-success">Active orders</span>
                        <ul>
                            <app-order *ngFor="let order of activeOrders" [order]="order">
                            </app-order>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="ss-style-bottom "></section>
        </div>
    </div>
    <div id="food-menu " class="light-wrapper ">
        <section class="ss-style-top "></section>
        <div class="wrapper">
            <div class="orders">
                <div *ngIf="haveOrders" class="order-box">
                    <div *ngIf="havePastOrders">
                        <span class="label label-warning">Passed orders</span>
                        <ul>
                            <app-order *ngFor="let order of pastOrders | paginate:currentPage:pageSize" [order]="order">
                            </app-order>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default" *ngFor="let number of numberOfPages" (click)="changePage(number)">{{number}}</button>
            </div>
            <section class="ss-style-bottom "></section>
        </div>
    </div>
</div>