<li class="container">
  <img src="{{meal.imageLink}}" alt="meal.name" class="img-responsive">
  <div class="meal-info">
    <strong>{{meal.name}}</strong>
    <p>{{meal.description}}</p>
    <p class="lead">{{meal.price}}</p>
    <div *ngIf="hasLoggedUser">
      <button *ngIf="!isInCart" class="btn btn-danger" (click)="addToCart()">Add to cart</button>
      <button class="btn" [ngClass]="{'btn-success': !isFavourite, 'btn-warning': isFavourite}" (click)="changeLike()">{{likeButtonText}}</button>
    </div>
    <simple-notifications [options]="options "></simple-notifications>
  </div>
</li>