<div id="special-offser" class="parallax pricing">
    <div class="container inner">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="pricing-item">
                    <img src="{{meal.imageLink}}" alt="meal.name" class="img-responsive img-thumbnail">
                    <div class="pricing-item-details">
                        <h3>{{meal.name}}</h3>
                        <p>{{meal.description}}</p>
                        <p>{{meal.likes}} customers liked it!</p>
                        <div *ngIf="hasLoggedUser" class="buttons">
                            <a *ngIf="!isInCart" class="btn btn-danger" (click)="addToCart()">Add to cart</a>
                            <a class="btn" [ngClass]="{'btn-success': !isFavourite, 'btn-warning': isFavourite}" (click)="changeLike()">{{likeButtonText}}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <span class="hot-tag br-red">{{meal.price.toFixed(2)}}</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>