.main-container {
    padding-top: 10%;
    background: url('../../assets/images/background.jpg') fixed no-repeat center center;
    width: 100%;
}

.container {
    padding: 0;
    margin: 0;
}

.light-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
}

img {
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style-type: none;
}

.menu-categories {
    background-color: rgba(54, 65, 76, 0.2);
}

.category a {
    color: black;
    font-weight: bold;
}

.navbar-nav li {
    display: block;
}

.stylish-input-group .input-group-addon {
    z-index: 5;
    background: white !important;
}

.stylish-input-group .form-control {
    z-index: 5;
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.inputs {
    padding: 5px;
    width: 40%;
    float: left;
}

.navbar-nav>li:hover{
    background-color: #E0E0E0;
}

.navbar-nav>li:checked{
    background-color: #E0E0E0;
}

.form-group {
    z-index: 5;
}