<div class="container main-container">
    <h2 class="section-title text-center">Cart</h2>
    <p class="lead main text-center">There is your order!</p>
    <div id="food-menu " class="light-wrapper ">
        <section class="ss-style-top "></section>
        <div class="wrapper">
            <ul>
                <meal-cart *ngFor="let meal of cartMeals; let i = index" [meal]="meal" [index]="i" (onQuantityChanged)="updateQuantity($event)" (onRemoveFromCart)="removeFromCart($event)">
                </meal-cart>
            </ul>
            <div class="total-price">
                <p>Total price: </p>
                <span>{{totalPrice}} lv.</span>
                <div class="button-wrapper">
                    <button class="btn btn-success" [routerLink]="'/submit'">Submit order</button>
                </div>
            </div>
        </div>
        <section class="ss-style-bottom "></section>
    </div>
</div>