<div *ngFor="let product of cartMeals; let i = index">
    <img src="{{product.imageLink}}" alt="product.name">
    <div class="product-info">
        <strong>{{product.name}}</strong>
        <button class="btn btn-danger" (click)="removeFromCart(i)">Remove from cart</button>
        <p>{{product.price}}</p>
        <p>
            Quantity: {{product.quantity}}
            <input type="number" name="quantity" [value]="product.quantity" (change)="updateQuantity($event, i)" min="1" max="999">
        </p>
        <simple-notifications [options]="options "></simple-notifications>
    </div>
</div>
<div>
    <p>Total price: {{totalPrice}}</p>
</div>
<button class="btn btn-success">Submit order</button>
<br>
<br>