<div class="wrapper">
<div *ngFor="let meal of cartMeals; let i = index">
    <img src="{{meal.imageLink}}" alt="meal.name">
    <div class="meal-info">
        <strong>{{meal.name}}</strong>
        <button class="btn btn-danger" (click)="removeFromCart(i)">Remove from cart</button>
        <p>{{meal.price}}</p>
        <p>
            Quantity: {{meal.quantity}}
            <input type="number" name="quantity" [value]="meal.quantity" (change)="updateQuantity($event, i)" min="1" max="999">
        </p>
        <simple-notifications [options]="options "></simple-notifications>
    </div>
</div>
<div>
    <p>Total price: {{totalPrice}}</p>
</div>
<button class="btn btn-success" [routerLink]="'/submit'">Submit order</button>
</div>  