<div id="special-offser" class="parallax pricing">
    <div class="container inner">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="pricing-item">
                    <a href="/"><img src="{{meal.imageLink}}" alt="meal.name" class="img-responsive"></a>
                    <div class="pricing-item-details">
                        <h3><a href="/">{{meal.name}}</a></h3>
                        <p>{{meal.description}}</p>
                        <button *ngIf="!isInCart" class="btn btn-danger" (click)="addToCart()">Add to cart</button>
                        <button class="btn btn-warning" (click)="dislike()">Dislike</button>
                        <simple-notifications [options]="options "></simple-notifications>
                        <div class="clearfix"></div>
                    </div>
                    <span class="hot-tag br-red">{{meal.price}}</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>