<!--<div class="wrapper">
    <div class="meals">
        <div *ngFor="let meal of cartMeals; let i = index">
            <div class="meal-info">
                <strong>{{meal.name}}</strong>
                <p>{{meal.price}} lv. Quantity: {{meal.quantity}}</p>
            </div>
        </div>
        <div>
            <p><strong>Total price: {{totalPrice}} lv.</strong></p>
            <div><strong>Deliver to:</strong>
                <div *ngIf="isAddressSelected">
                    <p><strong>Address:</strong> {{selectedAddress.street}} <strong>City:</strong> {{selectedAddress.city}}</p>
                    <button class="btn btn-primary" (click)="placeOrder()">Place order</button>
                </div>
                <div *ngIf="!isAddressSelected">
                    <p>Please, select address </p>
                </div>
            </div>
        </div>
    </div>

    <div class="addresses">
        <ul *ngIf="haveAddress">
            <app-address *ngFor="let address of addresses; let i = index" [address]="address" [index]="i" [selectedAddress]="selectedAddress" (onAddressRemoved)="removeAddress($event)" (selectedAddressChanged)="useAddress($event)">
            </app-address>
        </ul>
        <div *ngIf="!haveAddress">
            <p>You don't have any addresses yet</p>
        </div>
        <br>
        <button *ngIf="!hideAddButton" class="btn btn-warning" (click)="addAddress()" routerLink="add-address">Add new address</button>
        <router-outlet></router-outlet>
    </div>
    <simple-notifications [options]="options "></simple-notifications>
</div>-->


<div class="container main-container">
    <div class="col-sm-5 col-sm-offset-4">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Submit you order now!</h3>
                    <p>This is your cart with meals</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-money"></i>
                </div>
            </div>
            <div class="form-bottom">
                <div class="pricing-item">
                    <div class="pricing-item-details" *ngFor="let meal of cartMeals; let i = index">
                        <h3><a href="/">{{meal.name}}</a></h3>
                        <div class="quantity">
                            {{meal.price}} lv. Quantity: {{meal.quantity}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="total-price">
                    <p>Total price:</p>
                    <span>{{totalPrice}} lv.</span>
                    <div><strong>Deliver to:</strong>
                        <div *ngIf="isAddressSelected">
                            <p><strong>Address:</strong> {{selectedAddress.street}} <strong>City:</strong> {{selectedAddress.city}}</p>
                            <button class="btn btn-primary" (click)="placeOrder()">Place order</button>
                        </div>
                        <div *ngIf="!isAddressSelected">
                            <p>Please, select address </p>
                        </div>
                    </div>
                </div>

                <div class="addresses">
                    <ul *ngIf="haveAddress">
                        <app-address *ngFor="let address of addresses; let i = index" [address]="address" [index]="i" [selectedAddress]="selectedAddress" (onAddressRemoved)="removeAddress($event)" (selectedAddressChanged)="useAddress($event)">
                        </app-address>
                    </ul>
                    <div *ngIf="!haveAddress">
                        <p>You don't have any addresses yet</p>
                    </div>
                    <br>
                    <button *ngIf="!hideAddButton" class="btn btn-warning" (click)="addAddress()" routerLink="add-address">Add new address</button>
                    <router-outlet></router-outlet>
                </div>
                <simple-notifications [options]="options "></simple-notifications>
            </div>
        </div>
    </div>
</div>