<div class="wrapper">
  <div class="meals">
    <div *ngFor="let meal of cartMeals; let i = index">
      <div class="meal-info">
        <strong>{{meal.name}}</strong>
        <p>{{meal.price}} Quantity: {{meal.quantity}}</p>
      </div>
    </div>
    <div>
      <p><strong>Total price: {{totalPrice}}</strong></p>
      <div><strong>Deliver to:</strong> 
        <div *ngIf="isAddressSelected">
          <p><strong>Address:</strong> {{selectedAddress.street}} <strong>City:</strong> {{selectedAddress.city}}</p>
          <button class="btn btn-primary" (click)="placeOrder()">Place order</button>
        </div>
        <div *ngIf="!isAddressSelected">
          <p>Please, select address </p>
        </div>
      </div>
    </div>
  </div>

  <div class="addresses">
    <div *ngIf="haveAddress">
      <div *ngFor="let address of addresses; let i = index">
        <p><strong>Address:</strong> {{address.street}} <strong>City:</strong> {{address.city}}</p>
        <button *ngIf="selectedAddress != address" class="btn btn-success" (click)="useAddress(i)">Use address</button>
        <button class="btn btn-danger" (click)="removeAddress(i)">Remove address</button>
      </div>
      <br>
      <button *ngIf="!hideAddButton" class="btn btn-warning" (click)="addAddress()" routerLink="add-address">Add new address</button>
    </div>
    <div *ngIf="!haveAddress">
      <p>You don't have any addresses yet</p>
      <button *ngIf="!hideAddButton" class="btn btn-warning" (click)="addAddress()" routerLink="add-address">Add address</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
