<div class="wrapper">
  <div class="meals">
    <div *ngFor="let meal of cartMeals; let i = index">
      <div class="meal-info">
        <strong>{{meal.name}}</strong>
        <p>{{meal.price}} lv. Quantity: {{meal.quantity}}</p>
      </div>
    </div>
    <div>
      <p><strong>Total price: {{totalPrice}} lv.</strong></p>
      <div><strong>Deliver to:</strong> 
        <div *ngIf="isAddressSelected">
          <p><strong>Address:</strong> {{selectedAddress.street}} <strong>City:</strong> {{selectedAddress.city}}</p>
          <button class="btn btn-primary" (click)="placeOrder()">Place order</button>
        </div>
        <div *ngIf="!isAddressSelected">
          <p>Please, select address </p>
        </div>
      </div>
    </div>
  </div>

  <div class="addresses">
    <div *ngIf="haveAddress">
    <app-address *ngFor="let address of addresses; let i = index"
    [address]="address"
    [index]="i"
    [selectedAddress]="selectedAddress"
    (onAddressRemoved)="removeAddress($event)"
    (selectedAddressChanged)="useAddress($event)">
    </app-address> 
    </div>
    <div *ngIf="!haveAddress">
      <p>You don't have any addresses yet</p>
    </div>
    <br>
    <button *ngIf="!hideAddButton" class="btn btn-warning" (click)="addAddress()" routerLink="add-address">Add new address</button>
    <router-outlet></router-outlet>
  </div>
  <simple-notifications [options]="options "></simple-notifications>
</div>