<div id="header">
    <div class="content" [@flyInOut]="'in'">
        <h2>{{info.moto.first}} <br/> {{info.moto.second}} </h2>
    </div>
</div>
<div id="story" class="light-wrapper">
    <div class="container inner">
        <h2 class="section-title text-center">Our Story</h2>
        <p class="lead main text-center">{{info.story}}</p>
        <div class="row text-center story">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-anchor"></i> </div>
                    <h3>EST. {{info.establishedYear}}</h3>
                    <p>{{info.establishedStory}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa  fa-cutlery"></i> </div>
                    <h3>Cooking Traditions</h3>
                    <p>{{info.traditions}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-coffee"></i> </div>
                    <h3>Food Quality</h3>
                    <p>{{info.foodQuality}}</p>
                </div>
            </div>
        </div>
    </div>
    <section class="ss-style-bottom"></section>
</div>

<div id="facts" class="parallax parallax2 facts">
    <div class="container inner">
        <div class="row text-center services-3">
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-beer"></i> </div>
                    <h4>{{info.statistics.beersSold}}</h4>
                    <p>Mug of Beer Sold</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-play-circle-o"></i> </div>
                    <h4>39472</h4>
                    <p>Movies Watched</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4>{{info.statistics.mealsDelivered}}</h4>
                    <p>Meals Delivered</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-users"></i> </div>
                    <h4>{{info.statistics.customersCount}}</h4>
                    <p>Customers Worldwide</p>
                </div>
            </div>
        </div>
    </div>
</div>