<li>
    <img [src]="meal.imageLink" [alt]="meal.name">
    <div class="meal-info">
        <strong>{{meal.name}}</strong>
        <button class="btn btn-danger" (click)="removeFromCart()">Remove from cart</button>
        <p>{{meal.price}} lv.</p>
        <p>
            Quantity: {{meal.quantity}}
            <input type="number" name="quantity" [value]="meal.quantity" (change)="updateQuantity($event)" min="1" max="999">
        </p>
        <simple-notifications [options]="options "></simple-notifications>
    </div>
</li>
